* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    font-size: 22px;
    font-family: sans-serif;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    grid-template-areas: 
        "head head head"
        "side mainCont mainCont"
        "side mainCont mainCont"
        "side mainCont mainCont"
        "foot foot foot"
    ;
    background: url(https://images.unsplash.com/photo-1548266652-99cf27701ced?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: fixed;
}

header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* border: 2px rgb(54, 240, 199) solid; */
    width: auto;
    height: 100%;
    padding: 24px;
    background-image: url(https://www.csiro.au/-/media/WordPress/CSIROBlog/angry-cloud-1024x480.jpg?mw=800&hash=20A99199E8E24948443737CE1B83FEDF);
    background-size: cover;
    font-family: "Julius Sans One", sans-serif;
}

main {
    grid-area: mainCont;
    text-align: center; 
   /* border: 2px rgb(0, 0, 0) solid; */
    margin: 45px 0 0;
    width: auto;
    height: auto;
    padding: 10px 10px 0px -10px;
    max-width: 100%;
    max-height: 100vh;
}

aside {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* border: 2px blue solid; */
    margin: 45px 0 0;
    width: auto;
    height: auto;
    padding: 50px 10px 10px 50px;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
    overflow: scroll;
    min-width: 300px;
    max-height: 717px;
    position: relative;
    
}

.facts {
    font-family: "Julius Sans One", sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.logo {
    width: auto;
    height: auto;
}

footer {
    grid-area: foot;
    text-align: center;
  /*  border: 2px red solid; */
    width: auto;
    height: auto;
    padding: 50px 30px 0px 50px;
    margin-top: -6px;
    background-image: url(https://i.gifer.com/vF.gif);
    background-size: cover;
}

.cloud-link {
    color: yellow;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 1em;
    transition: font-size 1s, font-weight 2s;
}

.cloud-link:hover {
    font-size: 23.5px;
    font-weight: bolder;
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-link {
 color: yellow;
 display: flex;
 width: auto;
 height: auto;
 margin: 30px 50px;
}

.nav-link:hover {
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
}

.web-header {
    color: yellow;
    background-color: black;
    display: inline;
    font-family: "Abril Fatface", sans-serif;
    letter-spacing: 5px;
    font-weight: lighter;
}

.cloud-chart-pic {
    width: auto;
    height: 780px;
}

footer H2 {
    color: rgb(255, 255, 255);
    background-color: black;
    border: 3px rgb(255, 255, 255) solid;
    width: auto;
    padding: 50px 50px;
    margin-top: -49.5px;
    margin-left: -48px;
    margin-right: -30px; /*
    background-image: url(https://www.csiro.au/-/media/WordPress/CSIROBlog/angry-cloud-1024x480.jpg?mw=800&hash=20A99199E8E24948443737CE1B83FEDF); */
    background-size: cover;
    font-family: "Merriweather", sans-serif;
    letter-spacing: 2px;
}

.ytchannel-link {
    color: yellow;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 1em;
    transition: font-size 1s, font-weight 2s;
}

.ytchannel-link:hover {
    font-size: 40px;
    font-weight: bolder;
}

.cloud-facts {
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px white solid;
    margin-left: -50px;
    margin-top: -50px;
    margin-right: -30px;
    width: 462px;
    height: auto;
    letter-spacing: 20px;
    border-width: 2px;
    text-align: center;
}

/* Copy and pasted code for image slideshow */

/* Code below is me trying to make the website responsive */

@media only screen and (max-width: 390px) and (max-height: 844px) {

    * {
        max-width: 390px;
        max-height: 844px;
    }
    
    body {
    }
    
    main {
    }

    h1 {
        font-size: 36px;
        line-height: 38px;
    }
    
    aside {
        grid-area: side;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
       /* border: 2px blue solid; */
        margin: 45px 0 0;
        width: 100%;
        height: auto;
        padding: 0 10px;
        color: white;
        background-color: hsla(0, 0%, 0%, 0.5);
        overflow: scroll;
        max-width: 390px;
        max-height: 844px;
        position: relative;
        top: auto;
        bottom: 0;
        box-sizing: border-box;
        
    }

    header {
        background-image: none; 
        max-width: 390px;
        max-height: 844px;
    }

    header * {
        font-size: 25px;
        grid-area: head;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Julius Sans One", sans-serif;
        bottom: 0;
        box-sizing: border-box;
    }

    .web-header {
        max-width: 300px;
        max-height: auto;
        border: 1px rgb(90, 161, 228) solid;
        width: auto;
        height: 200px;
        padding-left: 5px;
        margin-bottom: -1px;
        border-width: 5px;
        
        
    }

    #logo-image {
       width: 200px;
       height: auto;
       
    }
}